.activity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    gap: 30px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
                }
}

.activity__image {

}

.activity__list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}