.activity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.activity__image {
    border-radius: 50%;
}

.activity__list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}