.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.details__button {
border-radius: 50%;
width: 150px;
height: 150px;
border: none;
cursor: pointer;
background: #46837C;
}


    .link-uah, .link-usd, .link-eur {
        padding: 75px;

    }

.details__link {

}

    .details-text {

    }

.details-page {
    text-align: center;
    align-items: center;
}

.hryvna-container {
    margin-top: 15%;
}

.details-text:hover {
.details-text-one {
    color: blue;
}
.details-text-two {
    color: yellow;
}
}

.dollar-container {
    margin-top: 15%;
}